stages:
  - build

build-fedora:
  stage: build
  image: registry.fedoraproject.org/fedora:latest
  before_script:
    - dnf builddep -y *.spec
  script:
    - meson setup build-ci
    - ninja-build -C build-ci
